<div ng-controller='RoleController as ctrl'>
  <h2>Role Preferences</h2>
  <hr/>
  <p>Some content advising talent how to choose their 3 role options that we will provide</p>
  <div class="row">
    <div ng-repeat="role in ctrl.roles" class="col-sm-4 role-option-container">
      <div  class="role-option"
            ng-class="{'selected': ctrl.currentRole === role}"
            ng-click="ctrl.showRole($index)">
        Role {{ $index + 1 }}
      </div>
    </div>
  </div>
  <%= render partial: 'role_details_form' %>
</div>