<div ng-controller="ExperienceReferenceFormController"
  class="experience-reference-form"
  ng-init="init(<%= presenter.reference_for_experience(experience.id).to_json %>)">

  <div ng-show="formStateIs('known')" class="experience-panel">
    <p>
      {{reference.expertise}}
      <span class="glyphicon glyphicon-ok text-success experience-indicator"></span>
    </p>
    <a href="" ng-click="setFormState('edit')">Edit</a>/<a href="" ng-click="setNoExperience()">Delete</a>
  </div>

  <div ng-show="formStateIs('unknown')" class="experience-panel">
    <p>
      Unknown
      <span class="glyphicon glyphicon-remove text-danger experience-indicator"></span>
    </p>
    <a href="" ng-click="setFormState('edit')">Edit</a>
  </div>

  <div ng-show="formStateIs('initial')">
    <button class="btn btn-success" ng-click="setFormState('edit')">
      Yes
    </button>
    <button class="btn btn-danger" ng-click="setNoExperience()">
      No
    </button>
  </div>

  <form class="form-inline" ng-show="formStateIs('edit')">
    <div class="form-group">
      <label for="">Expertise</label>
      <select id="" name="" class="form-control" ng-model="reference.expertise">
        <%- ["Novice", "Competent", "Proficient", "Expert"].each_with_index do |exp, i| -%>
          <option value="<%=exp%>"><%=exp%></option>
        <%- end -%>
        <option value=""></option>
      </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="reference.in_last_five_years">
        Last 5 Years
      </label>
    </div>
    <button class="btn btn-success" ng-click="save()">
      Submit
    </button>
    <a ng-click="cancelForm()">Cancel</a>
  </form>
</div>
<div class="clearfix"></div>
