<h1>View Reference</h1>
<ul>
  <li>Referee: <%= @reference.referee_first_name %> <%= @reference.referee_last_name %></li>
  <li>Requested: <%= @reference.created_at %></li>
  <li>Responded: </li>
  <li>
    <p>This is placeholder. Not fully implemented yet. Need the reference 'format'</p>
  </li>
</ul>

