.role-option-container {
  padding: 10px;
}

.role-option {
  background-color: #CCC;
  height: 280px;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.role-type-selection-container {
  padding: 0 10px;
}

.role-type-selection {
  height: 25px;
  background-color: #CCC;
}