<nav class="navbar navbar-default">
<div class="container">
  <div class="navbar-header">
    <%= link_to 'Fused4', root_path, class: 'navbar-brand' %>
    <a class="navbar-brand" href=""></a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Login', new_user_session_path %></li>
      <li><%= link_to 'Signup', new_user_registration_path %></li>
    <% end %>
  </ul>
</div>
</nav>
