<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/head' %>
</head>
<body ng-app="Fused4">
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/notifications' %>
  <%= yield %>
  <footer class="footer"></footer>
</body>
</html>
